# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html

# Temporarily ignore due to prettier-plugin-ember-template-tag bug
app/components/sidebar-nav.gjs
app/components/breadcrumb-nav.gjs
